@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(15px + 0.390625vw);
  scroll-behavior: smooth;
}

:active,
:hover,
:focus {
  outline: 0 !important;
}

body {
  font-family: "Inter", sans-serif;
  position: relative;
}

a,
a:hover {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.section__headline h2 {
  position: relative;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: bold;
}
.section__headline h2::before {
  content: "";
  position: absolute;
  top: -40%;
  width: 20%;
  border-bottom: 0.15rem solid #e11d74;
  margin-bottom: 1.3rem;
}
.section__headline p {
  font-weight: 600;
  color: #e11d74;
  text-transform: uppercase;
}

section {
  padding: 7rem 0 2rem;
}

/*==== Header ====*/
.header {
  background-color: #000;
  z-index: 100;
  width: 100%;
}
.header .navbar {
  padding: 0.3rem 0;
}
.header .navbar-brand {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
}
.header .logo {
  font-weight: 700;
  color: #e11d74;
}

.nav-link {
  position: relative;
  padding: 0.8rem 1.2rem;
  font-size: 0.9rem;
  color: #fff;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  display: block;
  width: 0;
  height: 0.1rem;
  background-color: #e11d74;
  transition: width 0.3s;
}
.nav-link:hover::after, .nav-link.active::after {
  width: 40%;
  color: #fff;
}

.nav-link:hover {
  color: #fff;
}

.navbar-toggler {
  padding: 0.25rem 0rem;
}

/*==== Hero ====*/
.home {
  min-height: 100vh;
  background-color: #000;
  padding-top: 0;
}

.hero__content {
  padding: 7rem 0;
  margin-bottom: 5rem;
}
.hero__content h1 {
  width: 80%;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2;
  color: #fff;
}

.hero__btn {
  margin-top: 1.5rem;
  padding: 0.5rem 1.5rem;
  background-color: #e11d74;
  font-size: 1.1rem;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.hero__btn:hover {
  background-color: rgba(225, 29, 116, 0.7);
  color: #fff;
}

.hero {
  background: url("../images/hero-1100.jpg") center right no-repeat;
  background-size: contain;
  min-height: 600px;
  margin-bottom: 2rem;
}

.underline {
  max-width: 10%;
  margin-bottom: 2.5rem;
  border-bottom: 0.2rem solid #e11d74;
}

.info-box {
  padding: 1.5rem 1.2rem;
  border-radius: 0.1rem;
  background-color: #000;
  transition: 0.7s ease;
}
.info-box:hover, .info-box.active {
  background-color: #e11d74;
}
.info-box__icon {
  font-size: 3rem;
  color: #e11d74;
  margin-bottom: 1.5rem;
}
.info-box__content {
  color: #fff;
}
.info-box__content h3 {
  margin: 0 0 1.3rem;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.4rem;
}
.info-box__content p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.info-box:hover .info-box__icon,
.info-box.active .info-box__icon {
  color: #fff;
}

/*==== Products ====*/
.products__name {
  position: relative;
  padding: 1.6rem;
  margin-bottom: 1.6rem;
  border-radius: 0.2rem;
  background-color: #f3f3f3;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.products__name:hover {
  background-color: #e11d74;
}
.products__name:hover h3,
.products__name:hover i {
  color: #fff;
  padding-left: 1.5rem;
}
.products__name h3 {
  margin: 0;
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
  color: #000;
  transition: 0.3s ease-in-out;
}
.products__name i {
  color: #848484;
}

/*==== Creations ====*/
.creations .creation__card {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 400px;
  margin: 0 0.4rem;
}
.creations .creation__card:hover .product-category {
  opacity: 1;
}
.creations .creation__card:hover .product-category h2,
.creations .creation__card:hover .product-category p {
  left: 0;
  opacity: 1;
}
.creations .creation__card img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.creations-carousel {
  padding-top: 0;
}
.creations .owl-nav {
  display: none;
}
.creations .owl-dots {
  padding: 2rem 0;
}
.creations .owl-theme .owl-dots .owl-dot.active span, .creations .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #e11d74;
  border-color: #e11d74;
}
.creations .owl-theme .owl-dots .owl-dot span {
  background: transparent;
  border: 1px solid #848484;
}
.creations .product-category {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.3s ease ease-in-out;
  cursor: pointer;
}
.creations .product-category h2,
.creations .product-category p {
  color: #fff;
  position: relative;
  opacity: 0;
  left: -50%;
  transition: 0.3s ease-in-out;
}
.creations .product-category h2 {
  font-size: 1.4rem;
  font-weight: 600;
}
.creations .product-category p {
  font-size: 0.9rem;
}

/*==== About ====*/
.about__desc {
  font-size: 15px;
  color: #848484;
}
.about__company-text {
  position: absolute;
  bottom: 1rem;
  left: 1.2rem;
  color: #fff;
}
.about__company-text h3 {
  margin-bottom: 0.2rem;
  font-weight: bold;
  font-size: 1.2rem;
}
.about__company-text p {
  font-size: 0.8rem;
}
.about__company-1 {
  position: relative;
  background: url("../images/about1-800.jpg") center no-repeat;
  background-size: cover;
  min-height: 500px;
}
.about__company-2 {
  position: relative;
  background: url("../images/about2-400.jpg") center no-repeat;
  background-size: cover;
  min-height: 240px;
  margin-bottom: 1.2rem;
}
.about__company-3 {
  position: relative;
  background: url("../images/about3-400.jpg") center no-repeat;
  background-size: cover;
  min-height: 240px;
}
.about__company-1::before, .about__company-2::before, .about__company-3::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.about__box {
  padding: 1rem;
}
.about__box h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.about__box p {
  color: #848484;
  font-size: 0.9rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
}

/*==== Reviews ====*/
.client__box {
  padding: 3rem;
}

.client__img {
  height: 100%;
  width: 100%;
}
.client__img img {
  height: 100%;
  max-height: 450px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.client__text p {
  color: #848484;
  font-size: 1.1rem;
  margin: 2.4rem 0;
}
.client__text .client__name {
  font-weight: bold;
  font-size: 1.2rem;
  transform: uppercase;
}

.carousel-indicators {
  margin-bottom: -40px;
}
.carousel-indicators li {
  background-color: #e11d74;
  height: 0.5rem;
}

/*==== Footer ====*/
.footer {
  margin-top: 4rem;
  background-color: #000;
}
.footer__box {
  padding: 5rem 0;
}

.footer__menu ul li a,
.footer p,
.footer ul li {
  color: #fff;
}

.footer__menu ul li a {
  font-size: 0.8rem;
  line-height: 2rem;
  color: #848484;
  transition: 0.3s ease;
}
.footer__menu ul li a:hover {
  color: #e11d74;
}

.footer__section-title {
  line-height: 30px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.contact-about p {
  font-size: 0.9rem;
  font-weight: 700;
  color: #f3f3f3;
}

.contact-details {
  margin: 1.8rem 0 0;
}
.contact-details li {
  margin-bottom: 0.8rem;
}
.contact-details li:last-child {
  margin-bottom: 0;
}
.contact-details li i {
  padding-right: 0.8rem;
  font-size: 0.8rem;
  color: #fff;
}
.contact-details li a {
  font-size: 0.8rem;
  color: #fff;
}

.social-media li {
  display: inline-block;
  margin: 2rem 0.3rem;
}
.social-media li a i {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.4rem;
  text-align: center;
  color: #fff;
  border: 2px solid #e11d74;
  border-radius: 2rem;
  transition: 0.3s ease-in-out;
}
.social-media li a i:hover {
  background-color: #e11d74;
  color: #fff;
  transform: translateY(-0.5rem);
}

.footer__copyright {
  text-align: center;
  padding: 32px 0;
  border-top: 0.065rem solid #e11d74;
}
.footer__copyright p {
  margin: 0;
  line-height: 1.6rem;
  font-size: 0.85rem;
  color: #848484;
}

.back-to-top {
  position: fixed;
  bottom: 4.5rem;
  right: 1.5rem;
  z-index: 100;
  display: none;
}
.back-to-top a {
  width: 2rem;
  height: 2rem;
  line-height: 2.5rem;
  padding: 0.6rem;
  background-color: #e11d74;
  color: #fff;
  text-align: center;
  transition: 0.5s all ease-out;
  border-radius: 0.5rem;
}
.back-to-top a:hover {
  filter: brightness(110%);
}

/* Media Queries */
@media (max-width: 1030px) {
  .nav-link {
    padding: 0.8rem 1rem;
  }
  .info-box {
    margin-bottom: 1.3rem;
  }
  .about__company-1 {
    margin-bottom: 1.2rem;
  }
  .client__box {
    padding: 2rem;
  }
  .client__text p {
    margin: 2.5rem 0;
  }
}
@media (max-width: 992px) {
  .menu-toggle {
    position: relative;
  }
  .menu-toggle span {
    width: 2rem;
    height: 0.2rem;
    display: block;
    background-color: #fff;
    cursor: pointer;
    margin: 0.35rem;
    transition: all 0.3s;
  }
  .menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 0.2rem;
  }
  .menu-toggle.active span:nth-child(2) {
    display: none;
  }
  .menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -0.3rem;
  }
  .navbar-nav {
    text-align: center;
  }
  .client__box {
    padding: 1rem;
    margin-top: 5.2rem;
  }
}
@media (max-width: 767px) {
  .header .navbar {
    padding: 0.5rem 0;
  }
  .hero {
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: 25% 80%;
  }
  .underline {
    max-width: 20%;
  }
  .hero__content h1 {
    font-size: 3rem;
    width: 100%;
  }
  .about__company-1 {
    min-height: 400px;
  }
  .about__box {
    padding: 0rem;
  }
  .client__box .section__headline h2 {
    font-size: 2rem;
  }
  .client__text p {
    font-size: 1rem;
  }
  .footer__section {
    margin-top: 2rem;
  }
}/*# sourceMappingURL=styles.css.map */